<div>
    <!-- a component, from CommonModule, -->
    <!-- bring out the content children render here -->
    
    
    <ng-content></ng-content>

    <!-- routerLinkActiveOptions use exact match, not startWith /-->

    <a routerLink="/" class="button" 
                      routerLinkActive="success"
                      [routerLinkActiveOptions]="{exact:true}"
                      > Home </a>
    <a routerLink="/products" class="button" routerLinkActive="success"> Products </a>
    <a routerLink="/cart" class="button" routerLinkActive="success"> Cart </a>
    
    <a routerLink="/checkout" class="button" routerLinkActive="success"> Checkout </a>

    <a *ngIf="!(auth$ | async).is_authenticated" 
        routerLink="/login" class="button" 
        routerLinkActive="success"> Login </a>

    <button *ngIf="(auth$ | async).is_authenticated" 
             (click)="logout()">Logout</button>


    <span> Cart {{amount | currency:'INR'}}</span>
    <!-- async is a pipe works with observable, promises
         it automatically subscribe for the changes
         when the new value published, it displays the content.

         When component destroy, async unsubscribe from subject, no leak
    -->
    <span> Qty {{totalItemsInCart$ | async }}</span>

    <span *ngIf="(auth$ | async).is_authenticated">
        {{(auth$ | async).user.name}}
    </span>
    
    <hr />

</div>