<div>
    <!-- a component, from CommonModule, -->
    <!-- bring out the content children render here -->
    <button (click)="logout()">Logout</button>
    
    <ng-content></ng-content>

    <!-- routerLinkActiveOptions use exact match, not startWith /-->

    <a routerLink="/" class="button" 
                      routerLinkActive="success"
                      [routerLinkActiveOptions]="{exact:true}"
                      > Home </a>
    <a routerLink="/products" class="button" routerLinkActive="success"> Products </a>
    <a routerLink="/cart" class="button" routerLinkActive="success"> Cart </a>
    <a routerLink="/checkout" class="button" routerLinkActive="success"> Checkout </a>


    <span> Cart {{amount | currency:'INR'}}</span>
    <!-- async is a pipe works with observable, promises
         it automatically subscribe for the changes
         when the new value published, it displays the content.

         When component destroy, async unsubscribe from subject, no leak
    -->
    <span> Qty {{totalItemsInCart$ | async }}</span>

    
    <hr />
</div>