<h2>Home</h2>

<p>Counter {{sum}}</p>

<p>Counter Async {{ (counter$ | async).sum }} </p>

<button (click)="increment()">+1</button>
<button (click)="decrement()">-1</button>
<button (click)="reset()">0</button>


<app-like [likes]="homeLikes"
          (likesChange)="homeLikes=$event"
></app-like>

<p>Home page likes {{homeLikes}}</p>

<button (click)="throwError()"> Throw Error </button>

<p>jquery </p>


<div id="testHtml">Replace here </div>

<button id="test">Btn</button>


<script [innerHtml]="script"></script>